.post-item {
  background-color: rgb(192, 192, 192);
  width: 100%;
  box-shadow: 10px 8px 12px rgba(0, 0, 0);
  margin: 1rem .5rem;
  padding: .5rem;
}

.post-image {
    max-width: 95%;
    max-height: 35rem;
    border-radius: 8px;
    margin: .5rem auto;
    
  }

  .post-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  .post-item button {
    font-size: 1.2rem;
  }
  